@import url(fontawesome-all.min.css);
@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400';


.container {
  display: flex; /* Enables Flexbox layout for the container */
  width: 100%; /* Ensures the container takes full available width */
}

.left-div {
  flex: 0 0 40%; /* Sets the flex-basis to 40% of the container's width */
  /* Additional styling for the left div */
}

.right-div {
  flex: 0 0 60%; /* Sets the flex-basis to 60% of the container's width */
  /* Additional styling for the right div */
}